In [3]:
import pandas as pd

df = pd.read_csv("base_datos_02_limpia.csv")

In [9]:
# Drop the original 'Año' and 'Mes' columns, and 'Mes_num' as it's no longer needed
# df = df.drop(columns=['Año', 'Mes', 'Mes_num']) # This line caused the error because the columns were already dropped

# Get all columns except 'Año-Mes'
other_cols = [col for col in df.columns if col != 'Año-Mes']

# Create a new list of columns with 'Año-Mes' at the beginning
new_cols_order = ['Año-Mes'] + other_cols

# Reindex the DataFrame with the new column order
df = df[new_cols_order]

# Display the updated DataFrame
display(df.head())

,Año-Mes,Vestuario,Calzado,Perfumes,Carne,Otros alimentos,Bebidas y alcoholes
0,2014-01,277,124,51,74,77,29
1,2014-02,314,114,67,75,72,28
2,2014-03,264,66,59,65,83,32
3,2014-04,165,43,65,82,84,31
4,2014-05,193,60,58,76,87,32

In [16]:
import pandas as pd
import io

data = """ALIMENTOS Y BEBIDAS NO ALCOHÓLICAS	BEBIDAS ALCOHÓLICAS Y TABACO	VESTUARIO Y CALZADO	RECREACIÓN Y CULTURA	RESTAURANTES Y HOTELES
2014-01	81.68	73.42	121.73	94.5	79.16
2014-02	82.01	73.44	122.94	93.68	79.23
2014-03	82.66	74.46	124.61	93.99	79.86
2014-04	83.37	75.62	124.44	94.62	79.97
2014-05	83.77	76.58	123.69	95.07	80.09
2014-06	84.05	76.53	121.19	95.23	80.49
2014-07	84.77	77.07	116.26	95.23	80.84
2014-08	85.5	78.45	119.19	95.13	81.17
2014-09	87.29	78.21	119.59	95.41	81.98
2014-10	90.28	80.84	117.76	95.43	83.02
2014-11	89.82	81.56	117.28	94.99	83.69
2014-12	89.31	81.19	116.45	95.4	84.13
2015-01	89.42	84.4	113.21	96.15	84.7
2015-02	89.21	84.92	114.41	94.98	85.12
2015-03	89.27	85.07	115.18	95.18	85.43
2015-04	90.02	85.44	114.42	95.63	85.86
2015-05	90.2	85.33	114.25	95.25	86.28
2015-06	90.35	86.49	113.32	96.12	86.86
2015-07	91.13	86.82	111.39	96.11	86.98
2015-08	92.51	87.34	115.05	95.99	87.09
2015-09	93.53	86.71	115.69	96.14	88.2
2015-10	94.27	88.13	115	96.08	88.96
2015-11	94.03	87.86	114.38	96.12	89.59
2015-12	93.5	87.47	113.82	95.91	89.73
2016-01	93.22	89.53	113.88	96.85	90.15
2016-02	92.75	90.38	115.98	96.77	90.7
2016-03	92.97	90.42	116.3	96.47	91.2
2016-04	93.08	90.48	116.03	96.95	91.59
2016-05	94.02	90.38	115.54	96.38	91.86
2016-06	94.61	90.82	113.16	96.81	92.24
2016-07	95.58	91.61	112.78	96.73	92.55
2016-08	96.36	91.7	114.43	96.82	92.89
2016-09	97.31	91.54	113.85	96.21	93.28
2016-10	96.95	92.46	113.05	96.14	93.62
2016-11	96.91	92.19	111.89	96.32	94.08
2016-12	95.59	91.62	110.88	95.56	94.64
2017-01	95.51	94.94	110.57	96.34	95.08
2017-02	95.95	95.38	111.32	94.45	95.34
2017-03	96.45	95.33	111.11	95.05	95.7
2017-04	96.97	95.73	110.13	95.06	96
2017-05	96.48	96.24	108.94	98.25	96.09
2017-06	95.86	96.34	106.98	95.65	96.29
2017-07	96.5	96.73	107.04	95.94	96.71
2017-08	97.49	97.63	108.02	95.53	96.89
2017-09	96.88	97.39	107.11	95.03	97.17
2017-10	97.77	98.2	106.55	96.17	97.88
2017-11	98.46	97.9	105.47	97.72	98.02
2017-12	97.94	97.86	"""

df_new = pd.read_csv(io.StringIO(data), sep='\t', index_col=0)
df_new.index.name = 'Año-Mes'
display(df_new.head())

,ALIMENTOS Y BEBIDAS NO ALCOHÓLICAS,BEBIDAS ALCOHÓLICAS Y TABACO,VESTUARIO Y CALZADO,RECREACIÓN Y CULTURA,RESTAURANTES Y HOTELES
Año-Mes,,,,,
2014-01,81.68,73.42,121.73,94.50,79.16
2014-02,82.01,73.44,122.94,93.68,79.23
2014-03,82.66,74.46,124.61,93.99,79.86
2014-04,83.37,75.62,124.44,94.62,79.97
2014-05,83.77,76.58,123.69,95.07,80.09

In [20]:
# Identify columns to average in df_new (excluding 'VESTUARIO Y CALZADO')
columns_to_average_df_new = [
    'ALIMENTOS Y BEBIDAS NO ALCOHÓLICAS',
    'BEBIDAS ALCOHÓLICAS Y TABACO',
    'RECREACIÓN Y CULTURA',
    'RESTAURANTES Y HOTELES'
]

# Calculate the row-wise average of these columns in df_new
df_new['resto de bienes y servicios'] = df_new[columns_to_average_df_new].mean(axis=1)

# Drop the original columns that were used to calculate the average from df_new
df_new = df_new.drop(columns=columns_to_average_df_new)

# Display the entire 'resto de bienes y servicios' column
display(df_new['resto de bienes y servicios'])

Año-Mes
2014-01    82.1900
2014-02    82.0900
2014-03    82.7425
2014-04    83.3950
2014-05    83.8775
2014-06    84.0750
2014-07    84.4775
2014-08    85.0625
2014-09    85.7225
2014-10    87.3925
2014-11    87.5150
2014-12    87.5075
2015-01    88.6675
2015-02    88.5575
2015-03    88.7375
2015-04    89.2375
2015-05    89.2650
2015-06    89.9550
2015-07    90.2600
2015-08    90.7325
2015-09    91.1450
2015-10    91.8600
2015-11    91.9000
2015-12    91.6525
2016-01    92.4375
2016-02    92.6500
2016-03    92.7650
2016-04    93.0250
2016-05    93.1600
2016-06    93.6200
2016-07    94.1175
2016-08    94.4425
2016-09    94.5850
2016-10    94.7925
2016-11    94.8750
2016-12    94.3525
2017-01    95.4675
2017-02    95.2800
2017-03    95.6325
2017-04    95.9400
2017-05    96.7650
2017-06    96.0350
2017-07    96.4700
2017-08    96.8850
2017-09    96.6175
2017-10    97.5050
2017-11    98.0250
2017-12    97.9000
Name: resto de bienes y servicios, dtype: float64

In [22]:
import pandas as pd
import io

csv_data_2 = """fecha,vestuario_y_calzado,resto_bienes_servicios_presion
2014-01,121.73,88.83
2014-02,122.94,87.85
2014-03,124.61,88.33
2014-04,124.44,89.50
2014-05,123.69,89.42
2014-06,121.19,89.64
2014-07,116.26,90.00
2014-08,119.19,90.32
2014-09,119.59,91.35
2014-10,117.76,93.29
2014-11,117.28,93.93
2014-12,116.45,94.76
2015-01,113.21,95.43
2015-02,114.41,95.05
2015-03,115.18,95.31
2015-04,114.42,95.75
2015-05,114.25,95.74
2015-06,113.32,96.49
2015-07,111.39,96.56
2015-08,115.05,96.54
2015-09,115.69,97.17
2015-10,115.00,97.52
2015-11,114.38,97.86
2015-12,113.82,97.82
2016-01,113.88,98.50
2016-02,115.98,98.74
2016-03,116.30,98.83
2016-04,116.03,99.27
2016-05,115.54,99.12
2016-06,113.16,99.43
2016-07,112.78,99.57
2016-08,114.43,99.63
2016-09,113.85,99.80
2016-10,113.05,99.54
2016-11,111.89,99.20
2016-12,110.88,98.98
2017-01,110.57,99.01
2017-02,111.32,98.58
2017-03,111.11,98.25
2017-04,110.13,98.36
2017-05,108.94,99.17
2017-06,106.98,98.32
2017-07,107.04,98.12
2017-08,108.02,98.56
2017-09,107.11,98.03
2017-10,106.55,98.54
2017-11,105.47,99.24
2017-12,104.28,99.09
2018-01,103.91,100.02
2018-02,104.60,99.75
2018-03,104.83,99.99
2018-04,104.44,99.90
2018-05,103.53,100.04
2018-06,101.84,100.07
2018-07,101.32,100.53
2018-08,101.88,100.54
2018-09,101.42,100.52
2018-10,100.91,101.12
2018-11,100.03,101.52
2018-12,98.54,101.15
2019-01,98.36,102.02
2019-02,100.78,102.07
2019-03,100.59,102.43
2019-04,100.04,102.35
2019-05,99.64,102.80
2019-06,99.14,103.14
2019-07,100.01,103.17
2019-08,100.66,103.55
2019-09,101.16,103.64
2019-10,101.72,104.41
2019-11,101.66,105.67
2019-12,100.31,104.74
2020-01,97.93,106.27
2020-02,100.30,105.70
2020-03,100.92,105.80
2020-04,97.65,106.75
2020-05,96.91,106.53
2020-06,96.21,107.07
2020-07,95.92,107.46
2020-08,98.13,107.79
2020-09,99.77,109.13
2020-10,103.33,109.61
2020-11,98.28,109.65
2020-12,101.92,109.46
2021-01,101.01,110.60
2021-02,102.33,110.53
2021-03,103.73,110.15
2021-04,101.27,110.53
2021-05,100.75,111"""

df_output_2 = pd.read_csv(io.StringIO(csv_data_2))

# Save the DataFrame to a new CSV file
df_output_2.to_csv('output_data_2.csv', index=False)

print("Data saved to 'output_data_2.csv'")

Data saved to 'output_data_2.csv'

In [21]:
import pandas as pd
import io

csv_data = """fecha,vestuario_y_calzado,resto_de_bienes_y_servicios
2014-01,121.73,82.19
2014-02,122.94,82.09
2014-03,124.61,82.74
2014-04,124.44,83.40
2014-05,123.69,83.88
2014-06,121.19,84.08
2014-07,116.26,84.98
2014-08,119.19,85.56
2014-09,119.59,87.22
2014-10,117.76,90.14
2014-11,117.28,90.02
2014-12,116.45,90.01
2015-01,113.21,91.67
2015-02,114.41,91.06
2015-03,115.18,91.24
2015-04,114.42,91.74
2015-05,114.25,92.27
2015-06,113.32,92.96
2015-07,111.39,93.26
2015-08,115.05,93.23
2015-09,115.69,94.15
2015-10,115.00,94.86
2015-11,114.38,94.40
2015-12,113.82,94.15
2016-01,113.88,94.94
2016-02,115.98,95.15
2016-03,116.30,95.27
2016-04,116.03,95.53
2016-05,115.54,95.66
2016-06,113.16,96.12
2016-07,112.78,96.62
2016-08,114.43,96.94
2016-09,113.85,97.08
2016-10,113.05,97.29
2016-11,111.89,97.38
2016-12,110.88,96.85
2017-01,110.57,97.47
2017-02,111.32,96.78
2017-03,111.11,97.13
2017-04,110.13,97.44
2017-05,108.94,96.77
2017-06,106.98,96.53
2017-07,107.04,96.97
2017-08,108.02,97.39
2017-09,107.11,96.62
2017-10,106.55,97.51
2017-11,105.47,97.53
2017-12,104.28,97.94
2018-01,103.91,98.34
2018-02,104.60,98.22
2018-03,104.83,98.40
2018-04,104.44,98.60
2018-05,103.53,99.17
2018-06,101.84,99.04
2018-07,101.32,99.49
2018-08,101.88,99.56
2018-09,101.42,99.69
2018-10,100.91,100.35
2018-11,100.03,101.09
2018-12,98.54,100.87
2019-01,98.36,101.15
2019-02,100.78,101.05
2019-03,100.59,101.44
2019-04,100.04,101.58
2019-05,99.64,102.50
2019-06,99.14,102.76
2019-07,100.01,102.80
2019-08,100.66,103.14
2019-09,101.16,103.43
2019-10,101.72,104.57
2019-11,101.66,104.91
2019-12,100.31,104.54
2020-02,100.30,105.59
2020-03,100.92,105.98
2020-04,97.65,106.56
2020-05,96.91,105.90
2020-06,96.21,106.13
2020-07,95.92,106.62
2020-08,98.13,106.88
2020-09,99.77,107.52
2020-10,103.33,109.31
2020-11,98.28,108.33
2020-12,101.92,108.79
2021-01,101.01,109.57
2021-02,102.33,109.41
2021-03,103.73,109.41
2021-04,101.27,109.99
2021-05,100.75,109.64
2021-06,98.88,109.50
2021-07,98.47,110.50
2021-08,98.64,"""

df_output = pd.read_csv(io.StringIO(csv_data))

# Save the DataFrame to a CSV file
df_output.to_csv('output_data.csv', index=False)

print("Data saved to 'output_data.csv'")

Data saved to 'output_data.csv'

In [19]:
display(df_new['resto de bienes y servicios'])

KeyError: 'resto de bienes y servicios'

In [17]:
display(df_new)

,ALIMENTOS Y BEBIDAS NO ALCOHÓLICAS,BEBIDAS ALCOHÓLICAS Y TABACO,VESTUARIO Y CALZADO,RECREACIÓN Y CULTURA,RESTAURANTES Y HOTELES
Año-Mes,,,,,
2014-01,81.68,73.42,121.73,94.50,79.16
2014-02,82.01,73.44,122.94,93.68,79.23
2014-03,82.66,74.46,124.61,93.99,79.86
2014-04,83.37,75.62,124.44,94.62,79.97
2014-05,83.77,76.58,123.69,95.07,80.09
2014-06,84.05,76.53,121.19,95.23,80.49
2014-07,84.77,77.07,116.26,95.23,80.84
2014-08,85.50,78.45,119.19,95.13,81.17
2014-09,87.29,78.21,119.59,95.41,81.98
2014-10,90.28,80.84,117.76,95.43,83.02
2014-11,89.82,81.56,117.28,94.99,83.69
2014-12,89.31,81.19,116.45,95.40,84.13
2015-01,89.42,84.40,113.21,96.15,84.70
2015-02,89.21,84.92,114.41,94.98,85.12
2015-03,89.27,85.07,115.18,95.18,85.43
2015-04,90.02,85.44,114.42,95.63,85.86
2015-05,90.20,85.33,114.25,95.25,86.28
2015-06,90.35,86.49,113.32,96.12,86.86
2015-07,91.13,86.82,111.39,96.11,86.98
2015-08,92.51,87.34,115.05,95.99,87.09
2015-09,93.53,86.71,115.69,96.14,88.20
2015-10,94.27,88.13,115.00,96.08,88.96
2015-11,94.03,87.86,114.38,96.12,89.59
2015-12,93.50,87.47,113.82,95.91,89.73
2016-01,93.22,89.53,113.88,96.85,90.15
2016-02,92.75,90.38,115.98,96.77,90.70
2016-03,92.97,90.42,116.30,96.47,91.20
2016-04,93.08,90.48,116.03,96.95,91.59
2016-05,94.02,90.38,115.54,96.38,91.86
2016-06,94.61,90.82,113.16,96.81,92.24
2016-07,95.58,91.61,112.78,96.73,92.55
2016-08,96.36,91.70,114.43,96.82,92.89
2016-09,97.31,91.54,113.85,96.21,93.28
2016-10,96.95,92.46,113.05,96.14,93.62
2016-11,96.91,92.19,111.89,96.32,94.08
2016-12,95.59,91.62,110.88,95.56,94.64
2017-01,95.51,94.94,110.57,96.34,95.08
2017-02,95.95,95.38,111.32,94.45,95.34
2017-03,96.45,95.33,111.11,95.05,95.70
2017-04,96.97,95.73,110.13,95.06,96.00
2017-05,96.48,96.24,108.94,98.25,96.09
2017-06,95.86,96.34,106.98,95.65,96.29
2017-07,96.50,96.73,107.04,95.94,96.71
2017-08,97.49,97.63,108.02,95.53,96.89
2017-09,96.88,97.39,107.11,95.03,97.17
2017-10,97.77,98.20,106.55,96.17,97.88
2017-11,98.46,97.90,105.47,97.72,98.02
2017-12,97.94,97.86,NaN,NaN,NaN

In [13]:
# Identify columns to average (excluding 'Año-Mes')
columns_to_average = ['Perfumes', 'Carne', 'Otros alimentos', 'Bebidas y alcoholes']

# Calculate the row-wise average of these columns
df['resto de bienes y servicios'] = df[columns_to_average].mean(axis=1)

# Drop the original columns that were used to calculate the average
df = df.drop(columns=columns_to_average)

# Display the updated DataFrame with the new column
display(df.head())

   Año-Mes  resto de bienes y servicios
0  2014-01                        57.75
1  2014-02                        60.50
2  2014-03                        59.75
3  2014-04                        65.50
4  2014-05                        63.25